@model Plus.Infrastructure.IdentityServer.Models.SecretItem

<li class="list-group-item">
    <label>
        @*<label>Created:</label> <strong>@Model.Created.ToShortDateString()</strong>*@
        <label>
            <strong>@Model.Value</strong>
        </label>
        <label>
            <strong>@Model.Type</strong>
        </label>
        @*@if (Model.Expiration != null)
        {
           <label>Expiration:</label> <strong>@Model.Expiration</strong>
        }
        @if (Model.Description != null)
        {
            <div class="consent-description">
               <label>Description:</label> <strong>@Model.Description</strong>
            </div>
        }*@

    </label>

</li>