@model IEnumerable<Plus.Infrastructure.IdentityServer.Models.Client.ClientViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Client List</h1>

<a class="btn btn-sm btn-primary" asp-action="Create" asp-controller="Client">Create</a>

<div class="row">
    <div class="col-sm-4">
        <table class="table table-hover data-table small" data-order-col="1" data-order-dir="asc" data-index="false">
            <thead>
                <tr>
                    <th> ClientId</th>
                    @*<th> ProtocolType</th>
                    <th> RequireClientSecret</th>
                    <th> ClientName</th>
                    <th> Description</th>
                    <th> ClientUri</th>
                    <th> LogoUri</th>
                    <th> RequireConsent</th>
                    <th> AccessTokenLifetime</th>
                    <th> AuthorizationCodeLifetime</th>
                    <th> ConsentLifetime</th>
                    <th> AbsoluteRefreshTokenLifetime</th>
                    <th> SlidingRefreshTokenLifetime</th>
                    <th> RefreshTokenUsage</th>
                    <th> UpdateAccessTokenClaimsOnRefresh</th>
                    <th> RefreshTokenExpiration</th>
                    <th> AccessTokenType</th>
                    <th> EnableLocalLogin</th>
                    <th> IncludeJwtId</th>
                    <th> AlwaysSendClientClaims</th>
                    <th> ClientClaimsPrefix</th>
                    <th> PairWiseSubjectSalt</th>*@
                    <th> Created</th>
                    <th> Updated</th>
                    @*<th> LastAccessed</th>
                    <th> UserSsoLifetime</th>
                    <th> UserCodeType</th>
                    <th> AllowedIdentityTokenSigningAlgorithms</th>
                    <th> IdentityTokenLifetime</th>
                    <th> AllowOfflineAccess</th>
                    <th> Enabled</th>
                    <th> DeviceCodeLifetime</th>
                    <th> AllowRememberConsent</th>
                    <th> RequirePkce</th>
                    <th> AllowPlainTextPkce</th>
                    <th> RequireRequestObject</th>
                    <th> AllowAccessTokensViaBrowser</th>
                    <th> FrontChannelLogoutUri</th>
                    <th> FrontChannelLogoutSessionRequired</th>
                    <th> BackChannelLogoutUri</th>
                    <th> BackChannelLogoutSessionRequired</th>
                    <th> AlwaysIncludeUserClaimsInIdToken</th>
                    <th> NonEditable</th>*@
                    <th>Scopes</th>
                    <th>Secrets</th>
                    <th>Claims</th>
                    <th>Properties</th>
                    <th>RedirectUris</th>
                    <th>CorsOrigins</th>
                    <th>GrantTypes</th>
                    <th>PostLogoutRedirectUris</th>
                    <th>IdentityProviderRestrictions</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.ClientId
                    </td>
                    @*<td>
                        @item.ProtocolType
                    </td>
                    <td>
                        @item.RequireClientSecret
                    </td>
                    <td>
                        @item.ClientName
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.NonEditable
                    </td>
                    <td>
                        @item.ClientUri
                    </td>
                    <td>
                        @item.LogoUri
                    </td>
                    <td>@item.RequireConsent</td>
                    <td>@item.AccessTokenLifetime</td>
                    <td>@item.AuthorizationCodeLifetime</td>
                    <td>@item.ConsentLifetime</td>
                    <td>@item.AbsoluteRefreshTokenLifetime</td>
                    <td>@item.SlidingRefreshTokenLifetime</td>
                    <td>@item.RefreshTokenUsage</td>
                    <td>@item.UpdateAccessTokenClaimsOnRefresh</td>
                    <td>@item.RefreshTokenExpiration</td>
                    <td>@item.AccessTokenType</td>
                    <td>@item.EnableLocalLogin</td>
                    <td>@item.IncludeJwtId</td>
                    <td>@item.AlwaysSendClientClaims</td>
                    <td>@item.ClientClaimsPrefix</td>
                    <td>@item.PairWiseSubjectSalt</td>
                    <td>@item.UserSsoLifetime</td>
                    <td>@item.UserCodeType</td>
                    <td>@item.AllowedIdentityTokenSigningAlgorithms</td>
                    <td>@item.IdentityTokenLifetime</td>
                    <td>@item.AllowOfflineAccess</td>
                    <td>@item.Enabled</td>
                    <td>@item.DeviceCodeLifetime</td>
                    <td>@item.AllowRememberConsent</td>
                    <td>@item.RequirePkce</td>
                    <td>@item.AllowPlainTextPkce</td>
                    <td>@item.RequireRequestObject</td>
                    <td>@item.AllowAccessTokensViaBrowser</td>
                    <td>@item.FrontChannelLogoutUri</td>
                    <td>@item.FrontChannelLogoutSessionRequired</td>
                    <td>@item.BackChannelLogoutUri</td>
                    <td>@item.BackChannelLogoutSessionRequired</td>
                    <td>@item.AlwaysIncludeUserClaimsInIdToken</td>
                    <td>@item.NonEditable</td>*@
                    <td>
                        @item.Created.ToShortDateString()
                    </td>
                    <td>
                        @item.Updated
                    </td>
                    @*<td>
                        @item.LastAccessed
                    </td>*@
                    <td>
                        @if (item.Scopes.Any())
                        {
                            <div class="form-group">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="glyphicon glyphicon-user"></span>
                                        Scope List
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var scope in item.Scopes)
                                        {
                                            <partial name="_ClientScopeListItem" model="scope" />
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        @if (item.Secrets.Any())
                        {
                            <div class="form-group">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="glyphicon glyphicon-user"></span>
                                        Secret Information
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var secret in item.Secrets)
                                        {
                                            <partial name="_ClientSecretListItem" model="secret" />
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        @if (item.Claims.Any())
                        {
                            <div class="form-group">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="glyphicon glyphicon-user"></span>
                                        Claim Information
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var claim in item.Claims)
                                        {
                                            <partial name="_ClientClaimListItem" model="claim" />
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        @if (item.Properties.Any())
                        {
                            <div class="form-group">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="glyphicon glyphicon-user"></span>
                                        Property Information
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var property in item.Properties)
                                        {
                                            <partial name="_ClientPropertyListItem" model="property" />
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        @if (item.RedirectUris.Any())
                        {
                            <div class="form-group">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="glyphicon glyphicon-user"></span>
                                        RedirectUri List
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var redirectUri in item.RedirectUris)
                                        {
                                            <partial name="_ClientRedirectUriListItem" model="redirectUri" />
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        @if (item.CorsOrigins.Any())
                        {
                            <div class="form-group">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="glyphicon glyphicon-user"></span>
                                        CorsOrigin Information
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var corsOrigin in item.CorsOrigins)
                                        {
                                            <partial name="_ClientCorsOriginListItem" model="corsOrigin" />
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        @if (item.GrantTypes.Any())
                        {
                            <div class="form-group">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="glyphicon glyphicon-user"></span>
                                        GrantType Information
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var grantType in item.GrantTypes)
                                        {
                                            <partial name="_ClientGrantTypeListItem" model="grantType" />
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        @if (item.PostLogoutRedirectUris.Any())
                        {
                            <div class="form-group">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="glyphicon glyphicon-user"></span>
                                        PostLogoutRedirectUri Information
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var postLogout in item.PostLogoutRedirectUris)
                                        {
                                            <partial name="_ClientPostLogoutRedirectUriListItem" model="postLogout" />
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        @if (item.IdentityProviderRestrictions.Any())
                        {
                            <div class="form-group">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="glyphicon glyphicon-user"></span>
                                        ProviderRestriction Information
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var idPRestriction in item.IdentityProviderRestrictions)
                                        {
                                            <partial name="_ClientIdPRestrictionListItem" model="idPRestriction" />
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </td>


                    <td class="text-center action-cell">
                        <a class="action-link hover-primary" asp-action="Edit"
                           asp-controller="Client"
                           asp-route-id="@item.Id">Edit</a>
                        <span></span>
                        <a class="action-link hover-primary" asp-action="Delete"
                           asp-controller="Client"
                           asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
